:root {
  --color: #5A75FF;

}

#root {
  min-height: inherit;
  display: flex;
  flex-direction: column;
} 

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}
